h1{
    font-size: 50px;

}
body{
    font-family: "Poppins", sans-serif;

}
.tr{
    color:red;
}
.first-work{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
    margin-top:5% ;
}
img{
    height: 400px;
    width: 400px;
}
#ban{
    height: 3px;
    width: 80%;
}
button{
    background-image:linear-gradient(orange, orangered);
    padding: 10px 20px;
    font-weight:bolder;
    color:white;
    border-radius: 10px;
    text-decoration: none;
}
.faw:hover{
    color: black;
    background-color: white !important;
    font-weight: bolder;
    width: 30%;
}
section{
    height: 500px;
    padding-bottom: 60px;
}
h2{
    font-size: 40px;
}
p{
    color: rgb(24, 23, 23);
}
.vbb{
    text-decoration: none;
    padding: 10px 20px;
    background-image:linear-gradient(rgb(184, 140, 140),orange );
    border-radius: 10px;
    color: white;
    font-weight: bolder;
}
.vbb:hover{
    color: black;

    font-weight: bolder;
    width: 30%;
    font-size: 20px;
}
.second{
    background-image:url("dream.png") ;
    background-repeat: no-repeat;
    background-position:right ;
}
.top{
    background-image:url("exp.png") ;
    background-repeat: no-repeat;
    background-position:left ;
}
.for-box{
    box-shadow:10px 10px 40px rgb(167, 122, 39);
    border-radius: 10px;
    background-color: white;
}
.for-box:hover{
    width:500px;
    color:darkblue;
    background-color:#eef2e2;
}
.expo{
    background-image:url("exp.png") ;
    background-repeat: no-repeat;
    background-position:left ;
}
#des{
    border-left: 7px solid royalblue;
    border-image:linear-gradient (180deg blue,orange) ;
    border-image-slice: 1;
}
#bes{
    border-left: 7px solid black;

    border-image-slice: 1;
}
footer p{
    text-align: center;
    color:rgb(119, 43, 190);
    font-weight:500;
    font-size: 15px;
    
}
#foot{
    text-decoration: none;
}